In [95]:
from sklearn.linear_model import LogisticRegression

In [10]:
import numpy as np
import pandas as pd

In [69]:
df = pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [74]:
df2 = df.apply(lambda x: pd.factorize(x)[0])
df2[df2<0]=0
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,0,0,1,1,0,1
2,2,1,0,2,1,2,1,0,2,2,0,0
3,3,1,1,3,1,3,0,0,3,3,1,0
4,4,0,0,4,0,3,1,0,4,4,0,0
5,5,0,0,5,0,0,1,0,5,5,0,2
6,6,0,1,6,0,4,1,0,6,6,2,0
7,7,0,0,7,0,5,2,1,7,7,0,0
8,8,1,0,8,1,6,1,2,8,8,0,0
9,9,1,2,9,1,7,0,0,9,9,0,1
10,10,1,0,10,1,8,0,1,10,10,3,0
11,11,1,1,11,1,9,1,0,11,11,4,0
12,12,0,0,12,0,10,1,0,12,4,0,0
13,13,0,0,13,0,11,0,3,13,12,0,0
14,14,0,0,14,1,7,1,0,14,13,0,0
15,15,1,2,15,1,12,1,0,15,14,0,0
16,16,0,0,16,0,5,3,1,16,15,0,2
17,17,1,2,17,0,0,1,0,17,16,0,0
18,18,0,0,18,1,13,0,0,18,17,0,0
19,19,1,0,19,1,0,1,0,19,18,0,1
20,20,0,2,20,0,3,1,0,20,19,0,0
21,21,1,2,21,0,14,1,0,21,16,5,0
22,22,1,0,22,1,15,1,0,22,20,0,2
23,23,1,1,23,0,16,1,0,23,21,6,0
24,24,0,0,24,1,17,2,1,7,7,0,0
25,25,1,0,25,1,1,0,3,24,22,0,0
26,26,0,0,26,0,0,1,0,25,18,0,1
27,27,0,1,27,0,18,2,2,26,23,7,0
28,28,1,0,28,1,0,1,0,27,24,0,2
29,29,0,0,29,0,0,1,0,28,25,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
861,861,0,2,861,0,22,0,0,660,86,0,0
862,862,1,1,862,1,75,1,0,661,232,135,0
863,863,0,0,863,1,0,6,2,148,94,0,0
864,864,0,2,864,0,41,1,0,662,16,0,0
865,865,1,2,865,1,21,1,0,663,16,0,0
866,866,1,2,866,1,6,0,0,664,243,0,1
867,867,0,1,867,0,13,1,0,665,244,143,0
868,868,0,0,868,0,0,1,0,666,59,0,0
869,869,1,0,869,0,8,0,1,8,8,0,0
870,870,0,0,870,0,2,1,0,667,25,0,0
871,871,1,1,871,1,46,0,1,222,124,41,0
872,872,0,1,872,0,39,1,0,668,245,114,0
873,873,0,0,873,0,46,1,0,669,58,0,0
874,874,1,2,874,1,16,0,0,274,145,0,1
875,875,1,0,875,1,15,1,0,670,18,0,1
876,876,0,0,876,0,10,1,0,128,246,0,0
877,877,0,0,877,0,18,1,0,671,25,0,0
878,878,0,0,878,0,0,1,0,672,25,0,0
879,879,1,1,879,1,59,1,1,276,147,144,1
880,880,1,2,880,1,36,1,1,232,19,0,0
881,881,0,0,881,0,39,1,0,673,25,0,0
882,882,0,0,882,1,0,1,0,674,247,0,0
883,883,0,2,883,0,16,1,0,675,29,0,0
884,884,0,0,884,0,36,1,0,676,79,0,0
885,885,0,0,885,1,11,1,3,16,15,0,2
886,886,0,2,886,0,6,1,0,677,16,0,0
887,887,1,1,887,1,18,1,0,678,209,145,0
888,888,0,0,888,1,0,0,2,614,231,0,0
889,889,1,1,889,0,2,1,0,679,209,146,1
890,890,0,0,890,0,34,1,0,680,28,0,2

In [102]:
data = np.array(df2.drop('Survived', axis=1))
from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler()
scaler.fit(data)
data = scaler.transform(data)
target = (np.array(df2.Survived))
print(data)
print(target)

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.0011236  0.5        0.0011236  ... 0.00404858 0.         0.5       ]
 [0.00224719 0.         0.00224719 ... 0.00809717 0.         0.        ]
 ...
 [0.99775281 0.         0.99775281 ... 0.93522267 0.         0.        ]
 [0.9988764  0.5        0.9988764  ... 0.84615385 1.         0.5       ]
 [1.         0.         1.         ... 0.11336032 0.         1.        ]]
[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

/Users/shohei/.pyenv/versions/anaconda3-4.1.0/lib/python3.5/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [103]:
from sklearn.model_selection import train_test_split

In [104]:
X_train,X_test,y_train,y_test = train_test_split(data,target)

In [105]:
X_test.shape[0]/(X_test.shape[0]+X_train.shape[0])

0.250280583613917

In [106]:
clf = LogisticRegression()

In [107]:
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.8565022421524664

In [154]:
test = pd.read_csv('test.csv')
test_pid = pd.DataFrame({'PassengerId':test['PassengerId']})
test_tmp = test.drop('PassengerId', axis=1)
test_tmp = test_tmp.apply(lambda x: pd.factorize(x)[0])
test_tmp[test_tmp<0]=0
test = test_tmp.merge()
test

SyntaxError: invalid syntax (<ipython-input-154-a61d66a65bc7>, line 7)

In [147]:
survived = clf.predict(test).astype(int)

ValueError: could not convert string to float: 'C'

In [137]:
result = pd.DataFrame({"PassengerId":test.PassengerId,"Survived":survived})
result.to_csv('result.csv',index=False)

In [138]:
!cat result.csv

PassengerId,Survived
0,0
1,0
2,0
3,0
4,0
5,0
6,0
7,0
8,1
9,0
10,0
11,0
12,0
13,0
14,1
15,0
16,0
17,0
18,0
19,0
20,0
21,0
22,1
23,0
24,1
25,0
26,1
27,0
28,1
29,0
30,0
31,0
32,0
33,0
34,1
35,0
36,0
37,0
38,0
39,0
40,0
41,1
42,0
43,0
44,1
45,0
46,1
47,0
48,1
49,0
50,1
51,0
52,0
53,1
54,0
55,0
56,0
57,1
58,0
59,1
60,0
61,0
62,0
63,0
64,0
65,0
66,0
67,0
68,1
69,1
70,0
71,0
72,0
73,0
74,1
75,1
76,0
77,1
78,0
79,0
80,0
81,1
82,0
83,0
84,0
85,0
86,0
87,0
88,0
89,0
90,0
91,0
92,1
93,0
94,0
95,0
96,1
97,0
98,0
99,0
100,1
101,0
102,0
103,0
104,0
105,0
106,0
107,0
108,0
109,1
110,0
111,0
112,1
113,0
114,1
115,0
116,0
117,1
118,1
119,0
120,0
121,0
122,1
123,0
124,0
125,0
126,0
127,0
128,0
129,0
130,0
131,1
132,0
133,0
134,0
135,0
136,0
137,0
138,0
139,0
140,0
141,0
142,0
143,0
144,0
145,0
146,1
147,0
148,0
149,0
150,1
151,0
152,0
153,0
154,0
155,0
156,1
157,0

159,0
160,0
161,0
162,0
163,0
164,0
165,0
166,1
167,0
168,0
169,0
170,0
171,0
172,0
173,0
174,0
175,0
176,0
177,0
178,1
179,1
180,0
181,1
182,1
183,0
184,1
185,0
186,0
187,0
188,0
189,0
190,0
191,0
192,0
193,0
194,0
195,0
196,1
197,0
198,0
199,0
200,0
201,0
202,1
203,0
204,0
205,0
206,0
207,0
208,0
209,0
210,0
211,0
212,0
213,0
214,0
215,1
216,0
217,0
218,1
219,0
220,0
221,0
222,1
223,0
224,0
225,0
226,0
227,0
228,0
229,0
230,0
231,0
232,0
233,0
234,1
235,0
236,1
237,0
238,0
239,1
240,0
241,0
242,1
243,0
244,0
245,1
246,0
247,0
248,0
249,0
250,0
251,0
252,1
253,0
254,0
255,0
256,0
257,0
258,0
259,0
260,0
261,0
262,0
263,0
264,0
265,0
266,0
267,0
268,0
269,0
270,0
271,0
272,1
273,0
274,0
275,0
276,0
277,0
278,0
279,0
280,0
281,0
282,0
283,0
284,0
285,0
286,0
287,0
288,0
289,0
290,0
291,0
292,0
293,1
294,0
295,0
296,0
297,0
298,0
299,0
300,0
301,0
302,0
303,0
304,0
305,0
306,1
307,0
308,1
309,0
310,0
311,0
312,0
313,0
314,1
315,0
316,1
317,0
318,0
319,0
320,0
321,0
322,0
323,0
324,0
325,0
326,0
327,0
328,0
329,0
330,0
331,0
332,0
333,0
334,0
335,0
336,0
337,0
338,0
339,0
340,0
341,0
342,0
343,1
344,0
345,0
346,0
347,0
348,0
349,0
350,1
351,0
352,0
353,0
354,0
355,0
356,0
357,0
358,0
359,0
360,0
361,0
362,0
363,0
364,0
365,0
366,0
367,0
368,0
369,0
370,0
371,1
372,1
373,0
374,0
375,0
376,0
377,0
378,1
379,0
380,0
381,0
382,0
383,0
384,0
385,0
386,0
387,0
388,0
389,0
390,1
391,1
392,0
393,0
394,0
395,0
396,0
397,1
398,0
399,0
400,1
401,0
402,0
403,0
404,0
405,1
406,0
407,0
408,0
409,0
410,0
411,0
412,0
413,0
414,1
415,0
416,0
417,0